<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>M端手势轮播</title>
    <style>
        div#container {
            width: 400px;
            height: 300px;
            white-space: nowrap;
            overflow: hidden;
            outline: solid 1px blue;
            background-color: #111111;
        }
    </style>
</head>
<body>
<div id="container">
</div>
<script>
    let start = (point, context) => {
        console.log("Start...", point.clientX, point.clientY);
        context.startX = point.clientX;
        context.startY = point.clientY;

        context.isTap = true;
        context.isPan = false;
    };
    let end = (point, context) => {
        console.log("End...", point.clientX, point.clientY);
        if (context.isTap) {
            console.log("isTap");
        }
        if (context.isPan) {
            console.log("isPan");
        }
    };
    let move = (point, context) => {
        console.log("Move...", point.clientX, point.clientY);
        let dx = point.clientX - context.startX, dy = point.clientY - context.startY;
        if (dx * dx + dy * dy > 100) {
            context.isTap = false;
            context.isPan = true;
        }
    };

    function handleMousedown(event) {
        event.preventDefault();
        document.addEventListener("mousemove", handleMousemove);
        document.addEventListener("mouseup", handleMouseup);
        contexts[mouseSymbol] = Object.create(null);
        start(event, contexts[mouseSymbol]);
    }

    function handleMouseup(event) {
        event.preventDefault();
        document.removeEventListener("mousemove", handleMousemove);
        document.removeEventListener("mouseup", handleMouseup);
        end(event, contexts[mouseSymbol]);
        delete contexts[mouseSymbol];
    }

    function handleMousemove(event) {
        event.preventDefault();
        move(event, contexts[mouseSymbol]);
    }

    let contexts = Object.create(null);
    let mouseSymbol = Symbol("mouse");

    function handleTouchstart(evt) {
        evt.preventDefault();
        let touches = evt.changedTouches;

        for (let i = 0; i < touches.length; i++) {
            let touch = touches[i];
            contexts[touch.identifier] = Object.create(null);
            start(touch, contexts[touch.identifier]);
        }
    }

    function handleTouchmove(evt) {
        evt.preventDefault();
        let touches = evt.changedTouches;
        for (let i = 0; i < touches.length; i++) {
            let touch = touches[i];
            move(touch, contexts[touch.identifier]);
        }

    }

    function handleTouchend(evt) {
        evt.preventDefault();
        let touches = evt.changedTouches;
        for (let i = 0; i < touches.length; i++) {
            let touch = touches[i];
            end(touch, contexts[touch.identifier]);
            delete contexts[touch.identifier];
        }
    }

    function handleTouchcancel(evt) {
        evt.preventDefault();
        let touches = evt.changedTouches;
        for (let i = 0; i < touches.length; i++) {
            let touch = touches[i];
            end(touch);
        }
    }

    window.onload = function startup() {
        let el = document.getElementById('container');
        el.addEventListener("touchstart", handleTouchstart, false);
        el.addEventListener("touchend", handleTouchend, false);
        el.addEventListener("touchmove", handleTouchmove, false);
        el.addEventListener("touchcancel", handleTouchcancel, false);
        el.addEventListener('mousedown', handleMousedown);
        console.log("初始化成功。");
    };


</script>
</body>
</html>