<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>轮播效果</title>
    <style>
        div#container {
            width: 400px;
            height: 300px;
            /*margin: 50px auto;*/
            white-space: nowrap;
            /*overflow: visible;*/
            overflow: hidden;
            outline: solid 1px blue;
        }

        div#container > img {
            display: inline-block;
            height: 100%;
            width: 100%;
            transition: ease 0.5s;
        }
    </style>
</head>
<body>
<div id="container">
</div>
<script>
    let funnyList = [1, 2, 3, 4];
    let pictureData = funnyList.map(item => `https://songzxdev.github.io/mystatistics/pictures/picture-${item}.jpg`);
    let container = document.getElementById('container');


    let play = () => {
        for (let i = 0; i < funnyList.length; i++) {
            let newImg = document.createElement('img');
            newImg.src = pictureData[i];
            newImg.alt = i + 1;
            newImg.title = `picture-${i + 1}`;
            container.appendChild(newImg);

        }
        let childList = Array.from(container.children);
        let position = 0;
        /*  // 轮播时序图
            document.querySelector('#container img:nth-child(1)').style.transform = 'translate(0%)';
            document.querySelector('#container img:nth-child(1)').style.transform = 'translate(-100%)';
            document.querySelector('#container img:nth-child(2)').style.transform = 'translate(-100%)';
            document.querySelector('#container img:nth-child(2)').style.transform = 'translate(-200%)';
            document.querySelector('#container img:nth-child(3)').style.transform = 'translate(-200%)';
            document.querySelector('#container img:nth-child(3)').style.transform = 'translate(-300%)';
            document.querySelector('#container img:nth-child(4)').style.transform = 'translate(-300%)';
            document.querySelector('#container img:nth-child(4)').style.transform = 'translate(-400%)';
            document.querySelector('#container img:nth-child(1)').style.transform = 'translate(0%)';
         */
        let go = () => {
            let nextPosition = position + 1;
            nextPosition = nextPosition % childList.length;
            let [curr, next] = [childList[position], childList[nextPosition]];

            // 把 next摆放到正确的位置
            next.style.transition = 'ease 0';
            // 表示从元素的当前位置延x轴方向，向左移动整个元素宽度的距离
            next.style.transform = `translate(${100 - 100 * nextPosition}%, 0)`;
            requestAnimationFrame(() => {
                // https://developer.mozilla.org/zh-CN/docs/Web/API/Window/requestAnimationFrame
                requestAnimationFrame(() => {
                    curr.style.transition = ""; // transition置空，css中的属性就会生效
                    curr.style.transform = `translate(${-100 - 100 * position}%, 0)`;
                    next.style.transition = "";
                    next.style.transform = `translate(${-100 * nextPosition}%, 0)`;
                    position = nextPosition;
                });
            });
            setTimeout(() => go(), 3000);
        };
        // setTimeout(() => go(), 3000);

        let startX;
        let startTransform;
        let start = event => {
            event.preventDefault();
            startX = event.clientX;
            startTransform = -position * 400;
            document.addEventListener("mousemove", move);
            document.addEventListener("mouseup", end);
        };
        let move = event => {
            event.preventDefault();
            for (let child of childList) {
                child.style.transition = "ease 0s";
                child.style.transform = `translate(${startTransform + event.clientX - startX}px)`;
            }

        };

        let end = () => {
            document.removeEventListener("mousemove", move);
            document.removeEventListener("mouseup", end);

            position = -(Math.round((startTransform + event.clientX - startX) / 400));

            position = Math.max(0, Math.min(position, childList.length - 1));

            for (let child of childList) {
                child.style.transition = "";
                child.style.transform = `translate(${-position * 400}px)`;
            }
        };

        document.addEventListener("mousedown", start);
    };
    play();
    // setInterval("play()", 5500);
</script>
</body>
</html>