<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Event 事件学习</title>
    <style>
        div#app {
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 0 0 100px 100px;
            border-color: transparent transparent #1b7cdd transparent;

        }
    </style>
</head>
<body>
<div id="app">

</div>
<script>
    let app = document.getElementById('app');
    let [x, y, count] = [0, 0, 0];
    app.addEventListener('custom', event => {
        app.style.transition = '';
        x = x + 10;
        y = y + (10 * count);
        console.log(x, y);
        app.style.transform = `translate(${x}px, ${y}px)`;
    });
    app.addEventListener('click', event => {
        let customEvt = new Event('custom');
        customEvt.startX = event.clientX;
        customEvt.startY = event.clientY;
        count = count + 1;
        app.dispatchEvent(customEvt);
    });
</script>
</body>
</html>