<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>线上课0811</title>
    <style>
        div#container {
            width: 400px;
            height: 300px;
            margin: 50px auto;
        }

        img {
            display: inline-block;
            height: auto;
            max-width: 100%;
        }
    </style>
    <link rel="stylesheet" href="https://songzxdev.github.io/mystatistics/iview-2.14.3/styles/iview.css">
    <script src="https://songzxdev.github.io/mystatistics/vue.min.js"></script>
    <script src="https://songzxdev.github.io/mystatistics/iview-2.14.3/iview.min.js"></script>
    <script src="https://songzxdev.github.io/mystatistics/jquery.min.js"></script>
</head>
<body>
<div id="container">
    <img src="https://songzxdev.github.io/mystatistics/pictures/picture-1.jpg" alt="first">
</div>
<script>

</script>
</body>
</html>